doctype html
html
  head
    title= title
    script(type='text/javascript').
      function paymentStatus(data) {
        Android.paymentResponse(data);
      }

  body(onload="paymentStatus('" + paymentStatus + "')")
    h1 Success.
